<!DOCTYPE html>
<html>
<head>
    <title>🌿Natural life🌿</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<!DOCTYPE html>
<html>
<head>
    <title>Abacate - Natural Life</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🏠 Início</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/receitas">🥤 Receitas</a>
    <a href="/sobre">ℹ️ Sobre</a>
</nav>

<div class="detalhe">

<h1>🥑 Abacate</h1>

<img src="{{ url_for('static', filename='images/abacate.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Rico em vitamina E, que ajuda a proteger a pele.</li>
    <li>Contribui para manter a pele hidratada.</li>
    <li>Possui antioxidantes que combatem o envelhecimento precoce.</li>
    <li>Ajuda na produção e manutenção do colágeno.</li>
</ul>

<h2>🧪 Vitaminas e nutrientes</h2>

<p>
Vitamina E, vitamina C, vitaminas do complexo B, potássio, magnésio e gorduras saudáveis (monoinsaturadas).
</p>

<h2>🍽️ Como consumir</h2>

<ul>
    <li>Ao natural.</li>
    <li>Em vitaminas.</li>
    <li>Em saladas.</li>
    <li>Na torrada.</li>
    <li>Em guacamole.</li>
</ul>

<h2>💡 Curiosidade</h2>

<p>
O abacate é uma fruta rica em gorduras saudáveis, que ajudam a manter a pele macia e hidratada. Apesar de ser calórico, quando consumido com moderação pode fazer parte de uma alimentação equilibrada.
</p>

<div style="text-align:center; margin-top:30px;">
    <a href="/" class="botao-hero">
        ⬅ Voltar
    </a>
</div>

</div>

</body>
</html>