<!DOCTYPE html>
<html>
<head>
    <title>🌿Natural life🌿</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="detalhe">

<nav class="menu">
    <a href="/">🥑 Alimentos</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
</nav>

<h1 class="titulo-cenoura">🥕 Cenoura</h1>

<img src="{{ url_for('static', filename='images/cenoura.jpg') }}" width="300">

<h2>Benefícios para a pele</h2>

<ul>
    <li>Rica em vitamina A</li>
    <li>Ajuda na renovação celular</li>
    <li>Possui antioxidantes</li>
    <li>Contribui para uma pele saudável</li>
</ul>

<h2>Como consumir</h2>

<p>
Pode ser consumida em saladas, sucos ou cozida.
</p>

<a href="/">⬅ Voltar</a>

</div>

</body>
</html>21:24 24/06/2026