<!DOCTYPE html>
<html>
<head>
<title>Coco - Natural Life</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
<a href="/">🥑 Alimentos</a>
<a href="/cosmeticos">🧴 Cosméticos</a>
<a href="/sobre">ℹ️ Sobre</a>
</nav>

<div class="detalhe">

<h1>🥥 Coco</h1>

<img src="{{ url_for('static', filename='images/coco.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
<li>Ajuda na hidratação.</li>
<li>Possui gorduras saudáveis.</li>
<li>Contribui para uma pele macia.</li>
<li>Rico em minerais importantes.</li>
</ul>

<h2>🧪 Vitaminas</h2>

<p>Vitaminas C, E e minerais como potássio.</p>

<h2>💡 Curiosidade</h2>

<p>A água de coco também ajuda na hidratação do organismo.</p>

<div style="text-align:center; margin-top:30px;">
<a href="/" class="botao-hero">⬅ Voltar</a>
</div>

</div>

</body>
</html>