<!DOCTYPE html>
<html>
<head>

<title>Creme Facial - Natural Life</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="menu">
<a href="/">🏠 Início</a>
<a href="/cosmeticos">🧴 Cosméticos</a>
<a href="/receitas">🥤 Receitas</a>
</nav>


<div class="detalhe">

<h1>🧴 Creme Facial</h1>

<img src="{{ url_for('static', filename='images/creme.jpg') }}">


<h2>💚 Benefícios</h2>

<ul>
<li>Ajuda na hidratação.</li>
<li>Deixa a pele mais macia.</li>
<li>Ajuda a proteger a barreira da pele.</li>
</ul>


<h2>📌 Como usar</h2>

<p>
Aplicar uma pequena quantidade no rosto limpo.
</p>


<a href="/cosmeticos">⬅ Voltar</a>

</div>

</body>
</html>