<!DOCTYPE html>
<html>
<head>
    <title>Laranja - Natural Life</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🏠 Início</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/receitas">🥤 Receitas</a>
</nav>

<div class="detalhe">

<h1>🍊 Laranja</h1>

<img src="{{ url_for('static', filename='images/laranja.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Rica em vitamina C.</li>
    <li>Ajuda na produção de colágeno.</li>
    <li>Possui antioxidantes.</li>
    <li>Contribui para uma pele mais protegida.</li>
</ul>

<h2>🧪 Vitaminas e nutrientes</h2>

<p>
Vitamina C, fibras, cálcio e antioxidantes.
</p>

<h2>🍽️ Como consumir</h2>

<ul>
    <li>Em sucos naturais.</li>
    <li>Ao natural.</li>
    <li>Em receitas.</li>
    <li>Em saladas de frutas.</li>
</ul>

<h2>💡 Curiosidade</h2>

<p>
A laranja é uma das frutas mais famosas por ser fonte de vitamina C.
</p>

<a href="/">⬅ Voltar</a>

</div>

</body>
</html>