<!DOCTYPE html>
<html>
<head>
    <title>Manga - Natural Life</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🥑 Alimentos</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/sobre">ℹ️ Sobre</a>
</nav>

<div class="detalhe">

<h1>🥭 Manga</h1>

<img src="{{ url_for('static', filename='images/manga.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Rica em vitamina A.</li>
    <li>Ajuda na renovação das células da pele.</li>
    <li>Contribui para uma pele mais hidratada.</li>
    <li>Possui antioxidantes que ajudam a combater o envelhecimento precoce.</li>
</ul>

<h2>🧪 Vitaminas</h2>

<p>
Vitaminas A, C, E e antioxidantes.
</p>

<h2>💡 Curiosidade</h2>

<p>
A manga é uma fruta tropical muito rica em betacaroteno, que o organismo transforma em vitamina A.
</p>

<div style="text-align:center; margin-top:30px;">
    <a href="/" class="botao-hero">
        ⬅ Voltar
    </a>
</div>

</div>

</body>
</html>