<!DOCTYPE html>
<html>
<head>
    <title>Mirtilo - Natural Life</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🥑 Alimentos</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
</nav>

<div class="detalhe">

<h1>🫐 Mirtilo</h1>

<img src="{{ url_for('static', filename='images/mirtilo.jpg') }}">

<h2>Benefícios para a pele</h2>

<ul>
<li>Rico em antioxidantes.</li>
<li>Combate o envelhecimento precoce.</li>
<li>Ajuda na produção de colágeno.</li>
<li>Protege contra radicais livres.</li>
</ul>

<a href="/">⬅ Voltar</a>

</div>

</body>
</html>