<!DOCTYPE html>
<html>
<head>
    <title>Morango - Natural Life</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🏠 Início</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/receitas">🥤 Receitas</a>
</nav>

<div class="detalhe">

<h1>🍓 Morango</h1>

<img src="{{ url_for('static', filename='images/morango.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Rico em vitamina C.</li>
    <li>Ajuda na produção de colágeno.</li>
    <li>Possui antioxidantes.</li>
    <li>Contribui para uma pele mais saudável.</li>
</ul>

<h2>🧪 Vitaminas e nutrientes</h2>

<p>
Vitamina C, fibras, antioxidantes e minerais.
</p>

<h2>🍽️ Como consumir</h2>

<ul>
    <li>Ao natural.</li>
    <li>Em vitaminas.</li>
    <li>Com iogurte.</li>
    <li>Em saladas de frutas.</li>
</ul>

<h2>💡 Curiosidade</h2>

<p>
O morango é uma fruta conhecida pela sua quantidade de vitamina C, importante para a formação do colágeno.
</p>

<a href="/">⬅ Voltar</a>

</div>

</body>
</html>