<!DOCTYPE html>
<html>
<head>
<title>Ovo - Natural Life</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
<a href="/">🥑 Alimentos</a>
<a href="/cosmeticos">🧴 Cosméticos</a>
<a href="/sobre">ℹ️ Sobre</a>
</nav>

<div class="detalhe">

<h1>🥚 Ovo</h1>

<img src="{{ url_for('static', filename='images/ovo.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
<li>Rico em proteínas.</li>
<li>Auxilia na renovação celular.</li>
<li>Contribui para a produção de colágeno.</li>
<li>Ajuda na manutenção da pele.</li>
</ul>

<h2>🧪 Vitaminas</h2>

<p>Vitaminas A, D, E, B12 e biotina.</p>

<h2>💡 Curiosidade</h2>

<p>O ovo é uma excelente fonte de proteína de alto valor biológico.</p>

<div style="text-align:center; margin-top:30px;">
<a href="/" class="botao-hero">⬅ Voltar</a>
</div>

</div>

</body>
</html>