<!DOCTYPE html>
<html>
<head>
    <title>protetor - NaturaLife</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🏠 Início</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/sobre">ℹ️ Sobre</a>
</nav>

<div class="detalhe">

<h1 class="titulo-protetor">☀️ Protetor Solar</h1>

<img src="{{ url_for('static', filename='images/protetor.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Ajuda a proteger contra os raios solares.</li>
    <li>Contribui para prevenir queimaduras.</li>
    <li>Auxilia na prevenção do envelhecimento precoce da pele.</li>
    <li>Ajuda a reduzir os danos causados pela exposição ao sol.</li>
</ul>

<h2>📍 Onde aplicar?</h2>

<p>
Aplicar no rosto, pescoço e em todas as áreas do corpo expostas ao sol.
</p>

<h2>🕒 Como usar?</h2>

<p>
Aplicar antes da exposição ao sol e reaplicar ao longo do dia conforme a necessidade.
</p>

<a href="/cosmeticos">⬅ Voltar</a>
</div>

</div>

</body>
</html>