<!DOCTYPE html>
<html>
<head>

<title>Sabonete Facial - Natural Life</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="menu">
<a href="/">🏠 Início</a>
<a href="/cosmeticos">🧴 Cosméticos</a>
<a href="/receitas">🥤 Receitas</a>
</nav>


<div class="detalhe">

<h1>🧼 Sabonete Facial</h1>

<img src="{{ url_for('static', filename='images/sabonete.jpg') }}">


<h2>💚 Benefícios para a pele</h2>

<ul>
<li>Remove sujeiras e oleosidade.</li>
<li>Ajuda a manter a pele limpa.</li>
<li>Prepara a pele para outros produtos.</li>
</ul>


<h2>📌 Como usar</h2>

<p>
Aplicar no rosto com água, massagear suavemente e enxaguar.
</p>


<a href="/cosmeticos">⬅ Voltar</a>

</div>

</body>
</html>