<!DOCTYPE html>
<html>
<head>
    <title>Smoothie de Kiwi - Natural Life</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🏠 Início</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/receitas">🥤 Receitas</a>
</nav>


<div class="detalhe">

<h1>🥝🥤 Smoothie de Kiwi</h1>

<img src="{{ url_for('static', filename='images/smoothie_kiwi.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Rico em vitamina C.</li>
    <li>Ajuda na formação do colágeno.</li>
    <li>Possui antioxidantes.</li>
    <li>Contribui para uma pele saudável.</li>
</ul>

<h2>🧪 Nutrientes</h2>

<p>
Vitamina C, vitamina K, fibras e antioxidantes.
</p>

<h2>🥣 Como preparar</h2>

<ul>
    <li>2 kiwis.</li>
    <li>200 ml de leite ou iogurte.</li>
    <li>Mel a gosto.</li>
    <li>Bater tudo no liquidificador.</li>
</ul>

<h2>💡 Curiosidade</h2>

<p>
O kiwi é uma fruta com grande quantidade de vitamina C.
</p>

<div style="text-align:center; margin-top:30px;">
<a href="/receitas">⬅ Voltar para Receitas</a>

</div>

</div>

</body>
</html>