<!DOCTYPE html>
<html>
<head>
    <title>Smoothie de Manga - Natural Life</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🏠 Início</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/receitas">🥤 Receitas</a>
</nav>


<div class="detalhe">

<h1>🥭🥤 Smoothie de Manga</h1>

<img src="{{ url_for('static', filename='images/smoothie_manga.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Fonte de vitamina A.</li>
    <li>Ajuda na renovação da pele.</li>
    <li>Possui antioxidantes.</li>
    <li>Contribui para uma pele saudável.</li>
</ul>

<h2>🧪 Nutrientes</h2>

<p>
Vitaminas A, C, E e fibras.
</p>

<h2>🥣 Como preparar</h2>

<ul>
    <li>1 manga madura.</li>
    <li>200 ml de leite ou iogurte.</li>
    <li>Gelo a gosto.</li>
    <li>Bater no liquidificador.</li>
</ul>

<h2>💡 Curiosidade</h2>

<p>
A manga é uma fruta tropical rica em vitaminas e antioxidantes.
</p>

<a href="/receitas">⬅ Voltar para Receitas</a>

</div>

</body>
</html>