<!DOCTYPE html>
<html>
<head>
    <title>Suco de Laranja com Cenoura - Natural Life</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🏠 Início</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/receitas">🥤 Receitas</a>
</nav>


<div class="detalhe">

<h1>🍊🥕 Suco de Laranja com Cenoura</h1>

<img src="{{ url_for('static', filename='images/suco_laranja_cenoura.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Rico em vitamina C.</li>
    <li>Ajuda na produção de colágeno.</li>
    <li>Possui betacaroteno, importante para a pele.</li>
    <li>Ajuda a proteger contra radicais livres.</li>
</ul>

<h2>🧪 Nutrientes</h2>

<p>
Vitamina C, vitamina A, betacaroteno e antioxidantes.
</p>

<h2>🥣 Como preparar</h2>

<ul>
    <li>2 laranjas descascadas.</li>
    <li>1 cenoura média.</li>
    <li>200 ml de água.</li>
    <li>Bater tudo no liquidificador.</li>
</ul>

<h2>💡 Curiosidade</h2>

<p>
A combinação da laranja com a cenoura une vitamina C e betacaroteno, nutrientes importantes para a saúde da pele.
</p>

<a href="/receitas">⬅ Voltar para Receitas</a>

</div>

</body>
</html>