<!DOCTYPE html>
<html>
<head>
    <title>🌿Naturalife🌿</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="detalhe">

<nav class="menu">
    <a href="/">🥑 Alimentos</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
</nav>

<h1 class="titulo-tomate">🍅 Tomate</h1>

<img src="{{ url_for('static', filename='images/tomate.jpg') }}" width="300">

<h2>Benefícios para a pele</h2>

<ul>
    <li>Rico em licopeno</li>
    <li>Possui ação antioxidante</li>
    <li>Ajuda a proteger a pele dos radicais livres</li>
    <li>Contribui para uma aparência saudável da pele</li>
</ul>

<h2>Como consumir</h2>

<p>
Pode ser consumido em saladas, molhos, sanduíches e sucos.
</p>

<a href="/">⬅ Voltar</a>

</div>

</body>
</html>21:24 24/06/2026