<!DOCTYPE html>
<html>
<head>
    <title>Uva - Natural Life</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🥑 Alimentos</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
</nav>

<div class="detalhe">

<h1>🍇 Uva</h1>

<img src="{{ url_for('static', filename='images/uva.jpg') }}">

<h2>Benefícios para a pele</h2>

<ul>
<li>Rica em resveratrol.</li>
<li>Ajuda a combater o envelhecimento precoce.</li>
<li>Protege as células da pele.</li>
<li>Melhora a elasticidade da pele.</li>
</ul>

<h2>Vitaminas</h2>

<p>Vitaminas C, K e antioxidantes.</p>

<h2>Curiosidade</h2>

<p>A casca da uva é a parte mais rica em antioxidantes.</p>

<a href="/">⬅ Voltar</a>

</div>

</body>
</html>