<!DOCTYPE html>
<html>
<head>
    <title>Vitamina de Abacate - Natural Life</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="menu">
    <a href="/">🏠 Início</a>
    <a href="/cosmeticos">🧴 Cosméticos</a>
    <a href="/receitas">🥤 Receitas</a>
</nav>


<div class="detalhe">

<h1>🥑🥛 Vitamina de Abacate</h1>

<img src="{{ url_for('static', filename='images/vitamina_abacate.jpg') }}">

<h2>💚 Benefícios para a pele</h2>

<ul>
    <li>Ajuda na hidratação da pele.</li>
    <li>Rica em vitamina E.</li>
    <li>Possui gorduras saudáveis.</li>
    <li>Contribui para uma pele mais saudável.</li>
</ul>

<h2>🧪 Nutrientes</h2>

<p>
Vitamina E, vitamina C, potássio e gorduras boas.
</p>

<h2>🥣 Como preparar</h2>

<ul>
    <li>Meio abacate.</li>
    <li>250 ml de leite.</li>
    <li>1 colher de aveia.</li>
    <li>Mel a gosto.</li>
    <li>Bater no liquidificador.</li>
</ul>

<h2>💡 Curiosidade</h2>

<p>
O abacate é uma fruta rica em nutrientes que ajudam a manter uma alimentação equilibrada.
</p>

<a href="/receitas">⬅ Voltar para Receitas</a>

</div>

</body>
</html>